<div id="<%= dom_id employee %>">
  <p>
    <strong>Employee:</strong>
    <%= employee.employee_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Phone numbers:</strong>
    <%= employee.phone_numbers %>
  </p>

  <p>
    <strong>Doj:</strong>
    <%= employee.doj %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

</div>
